/* app css stylesheet */

.front-div {
    margin-top: 20px;
}
.todo-controls {
    text-align: center;
}
ul.todo-list li.ideas {
    margin-right: 20px;
    border-right: 1px solid #eee;
    padding-right: 20px;
}

