<div ng-controller="MyCtrl1" >
    <form class="form-inline">
        <input type="text" placeholder="Type something…" name="todo.text" ng-model="todo.text">
        <button class="btn" ng-click="addTodo()"> Save </button>
    </form>
    <ul class="todo-list inline">
        <li ng-repeat="todo in todos" class="ideas">
        <h4>{{ todo }}</h4> <div class="todo-controls"> <a class="btn btn-mini" href="#/view2/{{ createSlug(todo) }}" >View details</a> <a class="btn btn-mini" ng-click="removeTodo()">X</a> </div>
        </li>
    </ul>
</div>
